@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
body {
  background-color: #eee;
}

.table-responsive {
  min-height: 200px;
}

.panel-body {
  background-color: #fafafa;
}
.dimension {
  min-height:76px;
  padding: 8px;
  border: solid 1px #ccc;
  background-color: white;
  .btn-group {
    margin: 12px;
  }
  h4 {
    margin: 6px 0px;
  }
  p {
    margin: 6px 0px;
  }
}

.form-horizontal {
  margin: 16px;
}

ul.navbar-right {
  margin: 0px 15px;
}

table.table-bordered thead > tr > th {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

th .btn-link {
  color: #fff;
}
th .btn-link:hover {
  color: #fff;
  text-decoration: none;
}

.form-control {
  width: auto;
  min-width: 20em;
  display:inline-block;
  margin-left: 8px;
}
/* tags input */

.stream-edit-wrapper {
  @extend .form-control;
  padding: 4px;
  .stream-label {
    margin: 0px 4px;
    font-size: 1em;
    display: inline-block;
  }
  .stream-remove {
      border-width: 0px;
      color: #444;
      font-weight: bold;
  }
  .stream-add {
      outline: none;
      margin: 1px 4px;
      padding: 2px;
      border-width:0px
  }
}
