
$font-size-base: 30px;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";

body {
  background-color: #eee;
}


.container { 
    min-height: 100%;
}

.fill {
  min-height: 100%;
  min-width: 100%;
  padding-top: 15%;
  font-size: 245%;
  color: white;
  background-color: #363;
}
